/data/*
!./data/.gitkeep  # For a .gitkeep directly in data
!data/vocabulary_dumps/.gitkeep 
/outputs/*
!./doutputs/.gitkeep
/plots/*
!./plots/.gitkeep
/models/*
!./models/.gitkeep
/logs/*
!./logs/.gitkeep
__pycache__/
*.pyc
/roberta_output/*
!./roberta_output/.gitkeep